---
layout: single
classes: wide
author_profile: true
excerpt: "شرکت آیتین تِک (AitinTech)"
feature_row:
  - image_path: /assets/images/customers_logo.png
    alt: "مشتریان"
    title: "&nbsp; مشتریان &nbsp;"
    excerpt: "مشتریان قبلی<br/>پشتیبانی"
    url: "/customers/"
    btn_class: "btn--info"
    btn_label: "صفحه مشتریان"
feature_row2:
  - image_path: /assets/images/products_logo.png
    alt: "محصولات"
    title: "&nbsp; محصولات &nbsp;"
    excerpt: "محصولات تولید شده<br/>خدمات قابل ارائه"
    url: "/products/"
    btn_class: "btn--info"
    btn_label: "صفحه محصولات"
feature_row3:
  - image_path: /assets/images/aitintech_blog.png
    alt: "وبلاگ"
    title: "&nbsp; وبلاگ &nbsp;"
    excerpt: "یادداشت‌ها، اخبار<br/>نکات و آموزش‌ها"
    url: "/blog/"
    btn_class: "btn--info"
    btn_label: "مشاهده یادداشت‌ها"
---


{% include feature_row type="center"%}
{% include feature_row id="feature_row2" type="center" %}
{% include feature_row id="feature_row3" type="center" %}

<h2>{{ site.data.ui-text[site.locale].recent_posts | default: "Recent posts" }}</h2>

{% for post in site.posts limit: 5 %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}


<!-- {% for post in site.posts limit: 5 %}
  {% include archive-single.html %}
{% endfor %} -->

